html {
    font-size: 62.5%;
    // defaults to 10 px per 1rem;
    // default is usually 10px	0.625rem
}

body {    
    background-color: $dark-blue;
    font-family: Helvetica, Arial, sans-serif;
    font-size: $m-size;

}

button {
    cursor: pointer;
}

button:disabled {
    cursor: default;
}